In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import StandardScaler

In [3]:
data = pd.read_csv("/Users/zahiramohammed/Desktop/df1.csv") #read the dataset

In [5]:
data.head()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis
0,789,1,71.437030,65.172564,24.487939,151.312717,16.676903,0.576846,38.793771,1
1,349,2,106.819054,48.457921,24.266713,150.832866,35.402615,0.615258,55.218632,0
2,535,3,58.066486,52.373287,22.845978,198.619401,19.046567,0.776325,54.856958,0
3,754,3,75.103375,72.007001,22.643830,218.205266,21.768719,0.562682,43.868719,0
4,905,5,88.542558,73.387937,24.234836,41.684577,25.320018,0.153270,47.796006,0

In [6]:
# Data Cleaning
# -----No cleaning needed for this dataset(as it is previously cleaned data)------

# Data Integration
# -----Only one dataset is considered, so no integration is needed----

# Data Reduction 
# ------No reduction required, as there are considerable number of variables--------

# """"""Data Transformation""""""

# Normalize BMI using StandardScaler
scaler = StandardScaler()
bmi_scaled = scaler.fit_transform(data[['BMI']])
data['BMI_scaled'] = bmi_scaled

In [12]:
# """"""Data Discretization""""""""""
#******** Discretize Age***************
def discretized_age(Age):
    if Age <= 18: 
        return 0
    elif Age <=39:
        return 1
    elif Age <= 64: 
        return 2
    else:
        return 3
data['age_discretized'] = data['Age'].apply(discretized_age)

#********* Discretize  Glucose  ************
def discretized_glucose(Glucose):  
    
    if Glucose < 100:
        return 0 #normal
    elif 100 <= Glucose <= 125:
        return 1 #pre-diabetic
    else:
        return 2 #diabetic

data['glucose_discretized'] = data['Glucose'].apply(discretized_glucose)

def discretized_bloodpressure(bp):
    if bp < 80:
        return 0  # low
    elif 80 <= bp <= 120:
        return 1  # normal
    else:
        return 2  # high

data['bloodpressure_discretized'] = data['BloodPressure'].apply(discretized_bloodpressure)

# ********* Discretize SkinThickness ************
def discretized_skinthickness(skin_thickness):
    if skin_thickness < 20:
        return 0  # thin
    elif 20 <= skin_thickness <= 30:
        return 1  # normal
    else:
        return 2  # thick

data['skinthickness_discretized'] = data['SkinThickness'].apply(discretized_skinthickness)

# ********* Discretize Insulin ************
def discretized_insulin(insulin):
    if insulin < 100:
        return 0  # low
    elif 100 <= insulin <= 150:
        return 1  # normal
    else:
        return 2  # high

data['insulin_discretized'] = data['Insulin'].apply(discretized_insulin)

# ********* Discretize BMI ************
def discretized_bmi(bmi):
    if bmi < 18.5:
        return 0  # underweight
    elif 18.5 <= bmi <= 24.9:
        return 1  # normal
    elif 25 <= bmi <= 29.9:
        return 2  # overweight
    else:
        return 3  # obese

data['bmi_discretized'] = data['BMI'].apply(discretized_bmi)

# ********* Discretize Diabetes Pedigree Function ************
def discretized_dpf(dpf):
    if dpf < 0.3:
        return 0  # low risk
    elif 0.3 <= dpf <= 0.6:
        return 1  # medium risk
    else:
        return 2  # high risk

data['dpf_discretized'] = data['DiabetesPedigreeFunction'].apply(discretized_dpf)

In [14]:
data.head(10)

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,BMI_scaled,age_discretized,glucose_discretized,bloodpressure_discretized,skinthickness_discretized,insulin_discretized,bmi_discretized,dpf_discretized
0,789,1,71.437030,65.172564,24.487939,151.312717,16.676903,0.576846,38.793771,1,-2.239777,1,0,0,1,2,0,1
1,349,2,106.819054,48.457921,24.266713,150.832866,35.402615,0.615258,55.218632,0,2.607702,2,1,0,1,2,3,2
2,535,3,58.066486,52.373287,22.845978,198.619401,19.046567,0.776325,54.856958,0,-1.626348,2,0,0,1,2,1,2
3,754,3,75.103375,72.007001,22.643830,218.205266,21.768719,0.562682,43.868719,0,-0.921671,2,0,0,1,2,1,1
4,905,5,88.542558,73.387937,24.234836,41.684577,25.320018,0.153270,47.796006,0,-0.002355,2,0,0,1,0,2,0
5,125,1,95.985017,68.076233,24.371894,6.961320,30.336275,0.628458,35.792916,0,1.296191,1,0,0,1,0,3,2
6,194,0,103.017404,79.435352,21.894541,101.312996,29.654851,0.588751,56.900285,0,1.119792,2,1,0,1,1,2,1
7,652,1,62.304273,84.323991,24.739204,-33.276108,25.092667,0.704120,13.605997,0,-0.061209,0,0,1,1,0,2,2
8,234,2,112.672231,76.831055,23.806530,18.600551,20.465991,0.286464,43.439978,0,-1.258905,2,1,0,1,0,1,0
9,420,0,127.596774,71.574361,24.556822,99.156810,30.425463,0.757010,59.263495,0,1.319279,2,2,0,1,0,3,2

In [15]:
#save the cleaned dataset at new location
data_new=data.to_csv("/Users/zahiramohammed/Desktop/Pima_cleaned.csv")

In [48]:
data.head(1)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,bmi_scaled,age_discretized,glucose_discretized,discretized_HbA1c
0,1,35.0,0,0,0,23.47,6.6,90,0,-0.686567,1,0,2

In [49]:
data = data.drop(['age', 'bmi','HbA1c_level','blood_glucose_level'], axis=1)

In [50]:
data.head(1)

,gender,hypertension,heart_disease,smoking_history,diabetes,bmi_scaled,age_discretized,glucose_discretized,discretized_HbA1c
0,1,0,0,0,0,-0.686567,1,0,2

In [51]:
new_order = ['gender', 'age_discretized', 'hypertension','heart_disease','smoking_history','bmi_scaled','glucose_discretized','discretized_HbA1c','diabetes']
data = data[new_order]

In [52]:
data.head(1)

,gender,age_discretized,hypertension,heart_disease,smoking_history,bmi_scaled,glucose_discretized,discretized_HbA1c,diabetes
0,1,1,0,0,0,-0.686567,0,2,0

In [53]:
data=data.rename(columns={
    'gender': 'Gender',
    'age_discretized': 'Age', 
    'hypertension': 'Hyper_Tension',
    'heart_disease': 'Heart_Disease',
    'smoking_history': 'Smoking_History',
    'glucose_discretized': 'Blood_Glucose_Level',
    'discretized_HbA1c': 'HbA1c_levels',
    'diabetes': 'Diabetes',
    'bmi_scaled':'BMI'
}
)

In [54]:
data.head(1)

,Gender,Age,Hyper_Tension,Heart_Disease,Smoking_History,BMI,Blood_Glucose_Level,HbA1c_levels,Diabetes
0,1,1,0,0,0,-0.686567,0,2,0

In [55]:
data.to_csv("/Users/zahiramohammed/Desktop/DAPM_final_cleaned.csv")