In [7]:
import pandas as pd
data= pd.read_csv("/Users/zahiramohammed/Desktop/Bank_full.csv")

In [8]:
data.head() #to check if the dataset is loaded

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [9]:
data.info() #print the information of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [10]:
data.isna().sum() #checking missing values

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [11]:
#since the dataset is huge, new dataset(data_new) is created with 500 random samples to perform further analysis
data_new=data.sample(250)

In [14]:
#saving the new dataset
data_new.to_csv("/Users/zahiramohammed/Desktop/bank_new.xls")

In [13]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 11807 to 14658
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        250 non-null    int64
 1   job        250 non-null    object
 2   marital    250 non-null    object
 3   education  250 non-null    object
 4   default    250 non-null    object
 5   balance    250 non-null    int64
 6   housing    250 non-null    object
 7   loan       250 non-null    object
 8   contact    250 non-null    object
 9   day        250 non-null    int64
 10  month      250 non-null    object
 11  duration   250 non-null    int64
 12  campaign   250 non-null    int64
 13  pdays      250 non-null    int64
 14  previous   250 non-null    int64
 15  poutcome   250 non-null    object
 16  y          250 non-null    object
dtypes: int64(7), object(10)
memory usage: 35.2+ KB